body{
    background-color:  #FFFFFF;
    
}
ul{
    list-style: none;
}
.button{
    border: none;
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:40px; 
    
}
.header_menu{
    display: flex;
    align-items: center;
    gap:20px;
}
.header_button{
    background-color: #0077B6;
    padding:10px 20px;
    color:#FFFFFF;
   border-radius: 8px;
   border:none;
}
.header_link{
    color: #3D3D3D;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    
}
.header_link:hover{
  background-color: #F0F0F0;
  border-radius: 5px;
  padding:10px 20px;
}
.ct_header{
    color: #000000;
    font-family: Inter;
font-weight: 700;
font-size: 32px;
line-height: 125%;
letter-spacing: 0px;
}
.ct_list{
   display: flex;
   flex-direction: column;

}
.ct_el{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ct_btn1{
    background-color: #0077B6;
    padding:10px 20px;
    color:#FFFFFF;
   border-radius: 8px;
   border:none;
}
.ct_btn2{
    background-color: #C1121F;
    padding:10px 20px;
    color:#FFFFFF;
   border-radius: 8px;
   border:none;
}
.categories{
    display: flex;
    flex-direction: column;
}